<mat-list>
    <mat-list-item *ngFor=" let customer of customers$ | async">
        <h4 class="ml-3">{{customer.username}}</h4>        
    </mat-list-item>    
</mat-list>
<!-- <div class="card alert-danger" *ngIf="{Error: errorMessage$ | async} as errorMessage">{{errorMessage | json}}</div> -->
<div class="card alert-danger" *ngIf="errorMessage$ | async as errorMessage">{{errorMessage | json}}</div>
<div class="card-body">
    <div class="container">
        <div class="row ">
            <button type="button" class="btn-outline-secondary" (click)="onAdd()">
                Add Customer
            </button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table mb-0" *ngIf="customers$ | async as customers">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>username</th>
                    <th>password</th>
                    <th>Auth Data</th>
                </tr>
            </thead>
            <tr *ngFor="let customer of customers">
                <td>{{customer.id}}</td>
                <td>{{customer.username}}</td>
                <td>{{customer.password}}</td>
                <td>{{customer.authdata}}</td>
            </tr>
        </table>
    </div>
</div>